*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 20px;
       flex-direction: column;
    background: #c0392b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    overflow-x: hidden;
}
.title{
    padding: 50px;
    font-size: 20px;
    color: white;
    margin: 20px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
 
    justify-content: center;
    width: 400px;
    height: 400px;
    perspective: 1000px;
    perspective-origin:center;
    margin: 0 auto;
}

.cube{
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    height: 200px;
    width: 200px;
    position: relative;
    animation: rotate 10s linear infinite;
    transition: transform 0.6s ease-in;
}

.cube .front, .cube .back{
    transition: transform 0.6s ease-in;
}
.cube .left, .cube .right{
    transition: transform 0.6s ease-in;
}
.cube .bottom,.cube .top{
    transition: transform 0.6s ease-in;
}
@keyframes rotate{
    to{
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    from{
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

.sides{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
 }

 .sides img{
    width: 200px;
    height: 200px;
    opacity: 0.3;
    transition: opacity 0.6s ease-in-out;
 }

 .cube:hover .sides img{
    opacity: 0.8;
 }

 .front{
    transform: translateZ(100px);
 }

 .back{
    transform: translateZ(-100px);
 }
 .top{
    transform: rotateX(90deg) translateZ(100px);
 }
 .left{
    transform:  rotateY(90deg) translateZ(100px);
 }
 .right{
    transform: rotateY(90deg) translateZ(-100px);
 }
 .bottom{
    transform: rotateX(90deg) translateZ(-100px);
 }


 .cube2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    position: relative;
    transform-style: preserve-3d;
 }

 .side{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
 }
.side img{
    width: 100px;
    height: 100px;
}


.front1{
    transform: translateZ(50px);
}
.back2{
    transform: translateZ(-50px);
}
.top5{
    transform: rotateX(90deg) translateZ(50px);
}


.left3{
    transform: rotateY(90deg) translateZ(50px);
}
.right4{
    transform:rotateY(90deg) translateZ(-50px);
}
.bottom6{
    transform: rotateX(90deg) translateZ(-50px);
}



.cube:hover .front{
    transform: translateZ(200px);
}
.cube:hover .back{
    transform: translateZ(-200px);
}
.cube:hover .left{
    transform: translateX(200px) rotateY(90deg);
}
.cube:hover .right{
    transform: translateX(-200px) rotateY(90deg);
}
.cube:hover .top{
    transform: translateY(-200px) rotateX(90deg);
}
.cube:hover .bottom{
    transform: translateY(200px) rotateX(90deg);
}


@media screen and (max-width: 1024px){
    body{
       height: auto;
       padding: 50px 0;
    }
}

@media screen and (max-width:786px){
     body{
       height: auto;
       padding: 50px 0;
    }


    .container{
  width: 300px;
        height: 300px;
        perspective: 700px;
         margin: 70px;
    }
     .cube {
        width: 150px;
        height: 150px;
    }

    .sides img {
        width: 150px;
        height: 150px;
    }
    
 .front{
    transform: translateZ(75px);
 }

 .back{
    transform: translateZ(-75px);
 }
 .top{
    transform: rotateX(90deg) translateZ(75px);
 }
 .left{
    transform:  rotateY(90deg) translateZ(75px);
 }
 .right{
    transform: rotateY(90deg) translateZ(-75px);
 }
 .bottom{
    transform: rotateX(90deg) translateZ(-75px);
 }

}

@media screen and (max-width: 480px) {
    .container {
        transform: scale(0.75);
        perspective: 600px;
        margin: 50px;
    }
}