*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(5, 0, 0, 0.716);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    perspective: 1000px;
    perspective-origin: top right;
    margin-left: 800px;
}

.cube{
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    height: 200px;
    width: 200px;
    position: relative;
    animation: rotate 10s linear infinite;
    transition: transform 0.6s ease-in;
}

.cube .front, .cube .back{
    transition: transform 0.6s ease-in;
}
.cube .left, .cube .right{
    transition: transform 0.6s ease-in;
}
.cube .bottom,.cube .top{
    transition: transform 0.6s ease-in;
}
@keyframes rotate{
    to{
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    from{
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

.sides{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
 }

 .sides img{
    width: 200px;
    height: 200px;
    opacity: 0.3;
    transition: opacity 0.6s ease-in-out;
 }

 .cube:hover .sides img{
    opacity: 0.8;
 }

 .front{
    transform: translateZ(100px);
 }

 .back{
    transform: translateZ(-100px);
 }
 .top{
    transform: rotateX(90deg) translateZ(100px);
 }
 .left{
    transform:  rotateY(90deg) translateZ(100px);
 }
 .right{
    transform: rotateY(90deg) translateZ(-100px);
 }
 .bottom{
    transform: rotateX(90deg) translateZ(-100px);
 }


 .cube2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    position: relative;
    transform-style: preserve-3d;
 }

 .side{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
 }
.side img{
    width: 100px;
    height: 100px;
}


.front1{
    transform: translateZ(50px);
}
.back2{
    transform: translateZ(-50px);
}
.top5{
    transform: rotateX(90deg) translateZ(50px);
}


.left3{
    transform: rotateY(90deg) translateZ(50px);
}
.right4{
    transform:rotateY(90deg) translateZ(-50px);
}
.bottom6{
    transform: rotateX(90deg) translateZ(-50px);
}



.cube:hover .front{
    transform: translateZ(200px);
}
.cube:hover .back{
    transform: translateZ(-200px);
}
.cube:hover .left{
    transform: translateX(200px) rotateY(90deg);
}
.cube:hover .right{
    transform: translateX(-200px) rotateY(90deg);
}
.cube:hover .top{
    transform: translateY(-200px) rotateX(90deg);
}
.cube:hover .bottom{
    transform: translateY(200px) rotateX(90deg);
}